
.navbar {
    background-color: rgba(40, 167, 69, 0.8); /* Verde transparente */
    padding: 10px 20px; /* Adicionando padding horizontal */
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    font-size: 24px;
    color: #fff; /* Cor do texto */
    text-decoration: none;
    font-weight: bold;
}

.navbar-links {
    list-style-type: none;
    display: flex;
    gap: 20px; /* Espaçamento entre os links */
}

.navbar-links a {
    color: #fff; /* Cor do texto */
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s, text-decoration 0.3s; /* Suavizando a transição */
}

.navbar-links a:hover {
    text-decoration: underline;
    color: #d4edda; /* Alterando a cor no hover */
}